.group-detail-form{
    display: flex;
    flex-direction: column;
}
.group-image-background{
    filter: opacity(30%);
    position: fixed;
    z-index: 0;
    width:100%;
    height: 100%;
    object-fit: cover;

}
.group-detail-div{
    margin-top: 50px;
    margin-left: 40px;
    position: fixed;
    z-index: 1;
}
.edit-delete-div{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 600px;
    position: fixed;
    z-index: 1;
}
.edit-link{
    text-decoration: none;
    margin: 10px;
    border: 1px solid gray;
    text-align: center;
    background-color: rgb(249, 243, 243);
    color:black;
    width:120px;
    height: 20px;
    border-radius: 5px;
}
.delete-link{
    margin: 10px;
    background-color: rgb(249, 243, 243);
    border: 1px solid gray;
    width:120px;
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.create-event-link{
    text-decoration: none;
    margin: 10px;
    border: 1px solid gray;
    text-align: center;
    background-color: rgb(249, 243, 243);
    color:black;
    width:120px;
    height: 20px;
    border-radius: 5px;
}
