.your-groups{
    margin-left: 20px;
}
.your-groups-container{
    display: flex;
    width:850px;
    margin:auto ;
    flex-wrap: wrap;

}
.group-div{
    border: 2px solid rgb(226, 222, 222);
    border-radius: 5%;
    margin: 15px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 250px; */
}

.group-name{
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    color: rgb(125, 71, 14);
    font-weight: bold;
    height: 50px;
    word-break: normal;
}
.group-image{
    width:150px;
    height:150px;
    border-radius: 10%;
    padding: 10px;
    object-fit: cover;


}
