.signup-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;

}
.firstName{
    width:400px;
    font-weight: bold;
}
.lastName{
    width:400px;
    font-weight: bold;
}
.email-signup{
    width:400px;
    font-weight: bold;

}
.password-signup{
    width:400px;
    font-weight: bold;
}
.confirm-password{
    width:400px;
    font-weight: bold;
}
.signup-form-button{


    margin-top: 20px;
    background-color:white;
    color: red;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10%;
    border-color: red;
}
.signup-error{
    margin-left: 20px;
    margin-top: 20px;
    color: red;
}