.dropdown{
    display: none;
}
.show{
    display:flex;
    flex-direction: column;
    position: absolute;
    margin-top: 80px;
    z-index: 1;
}
.dropdown-submenu{

    border-bottom: 1px solid gray;
    padding: 10px;

}
.logout-button{
    width:80px;
    height:35px;
    border: 1px solid gray;
    border-radius: 10%;
}
.logout-button:hover{
    cursor: pointer;
}