.nav{
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(215, 211, 211);
    padding: 10px;
    padding-top: 12px;
    position: relative;

}
.logo{
    padding-left: 20px;
    width: 110px;
    height: 40px;
}
.startGroup{
    grid-column: 3;
    text-decoration: none;
    color: rgb(0, 81, 128);
    font-weight: bold;
    padding-top: 12px;
    padding-right: 5px;
    margin-bottom: 20px;
}
.profile{
    grid-column: 4;
    width: 50px;
    height: 50px;

}
.login-link{
    text-decoration: none;
    margin-right: 30px;
    color: rgb(83, 81, 81);
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;

}
 .signup-link{
    text-decoration: none;
    color: rgb(83, 81, 81);
    font-weight: bold;
    font-size: 15px;
    margin-right: 30px;
    padding-top: 10px;
 }

 .login-link:hover{
    color:rgba(254, 5, 5, 0.984);
    cursor: pointer;
 }
 .signup-link:hover{
    color:rgba(254, 5, 5, 0.984);
    cursor: pointer;
 }
 .log_sign_div{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
 }
 .profile_nav{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
 }
 .profileButton:hover{
    cursor: pointer;
 }