.login-form{
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr ;
    /* grid-template-columns: 15% 70% 15%; */
    width: 400px;
    height: 180px;
    border:1px solid white ;
    border-radius: 40%;
}
.email{
    margin-top: 20px;
    align-self: center;
    grid-row: 1;
}

.password{
    margin-top: 20px;
    align-self: center;
    grid-row: 2;
}
.password-input{

}
.email-input{
    margin-left:30px;
}
.login-form-button{
    margin-top: 20px;
    align-self: center;
    grid-row:3;
    background-color:white;
    color: red;
    justify-self: center;
    width: 100px;
    height: 40px;

    font-weight: bold;
    font-size: 15px;
    border-radius: 10%;
    border-color: red;
}
.login-error{
    margin-left: 20px;
    margin-top: 20px;
    color: red;
}